<!DOCTYPE html>
<html>

<head>

    <title>Add Equipment</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="page-center">

    <div class="form-container">

        <div class="topbar">
            ADD NEW EQUIPMENT
        </div>

        <form method="POST" class="form-box">

            <input
                type="text"
                name="name"
                placeholder="Equipment Name"
                required>

            <!-- ✅ AUTOCOMPLETE TYPE -->
            <input
                type="text"
                name="type"
                placeholder="Type (e.g Laptop, Printer...)"
                list="typeList"
                required>

            <datalist id="typeList">
                {% for t in types %}
                    <option value="{{ t }}">
                {% endfor %}
            </datalist>

            <input
                type="text"
                name="unit"
                placeholder="Unit"
                required>

            <select name="status">

                <option value="Available">Available</option>
                <option value="Maintenance">Maintenance</option>

            </select>

            <select name="department">

                {% for d in departments %}
                <option value="{{ d.DepartmentID }}">
                    {{ d.DepartmentName }}
                </option>
                {% endfor %}

            </select>

            <button type="submit">
                Add Equipment
            </button>

        </form>

    </div>

</div>

</body>
</html>