<!DOCTYPE html>
<html>

<head>

<title>Purchases</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="sidebar">

<a href="/">Dashboard</a>
<a href="/equipment">Equipment</a>
<a href="/maintenance">Maintenance</a>
<a href="/purchases">Purchases</a>

</div>

<div class="main">

<div class="topbar">
OFFICE SYSTEM MANAGEMENT
</div>

<h1>Purchase Records</h1>

<table>

<tr>
<th>ID</th>
<th>Equipment ID</th>
<th>Purchase Date</th>
<th>Quantity</th>
</tr>

{% for item in purchases %}

<tr>

<td>{{ item.PurchaseID }}</td>
<td>{{ item.EquipmentID }}</td>
<td>{{ item.PurchaseDate }}</td>
<td>{{ item.Quantity }}</td>

</tr>

{% endfor %}

</table>

</div>

</body>
</html>